@import "tailwindcss";

@theme {
  /* Design system palette */
  --color-primary: #2d726e;
  --color-primary-dark: #245c58;
  --color-secondary: #e8ad74;
  --color-secondary-dark: #d8954f;
  --color-tertiary: #945941;
  --color-tertiary-dark: #7c4a36;
  --color-canvas: #f9f8f6;

  /* Typography */
  --font-sans: "Public Sans", ui-sans-serif, system-ui, sans-serif;
}

/* html {
  font-size: 14px;
} */

body {
  font-family: var(--font-sans);
}